/* Command Common */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
section{
  width: 70%;
  margin: 150px auto;
}
/* End Command Common */

/* Start Header */

/* Start Row Nav */
.row{
  height: 80px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  min-width: 1400px;
  z-index: 4;
}
#logo{
  width: 10%;
  height: 80px;
  line-height: 80px;
  float: left;
}
#logo img{
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.nav-right{
  width: 35%;
  height: 80px;
  float: right;
  line-height: 80px;
  text-align: center;
}
.nav-left{
  width: 30%;
  height: 80px;
  float: left;
  line-height: 80px;
  text-align: center;
}
.row nav li{
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  font-size: 15px;
  margin-right: 30px;
}
a{
  text-decoration: none;
  color: #000;
}
.btn{
  background-color: rgb(5,	97,	255);
  padding: 8px 20px;
}
.row li .btn{
  color: #fff;
}
/* End Row Nav */

/* Start Jumbotron */
.background{
  width: 100%;
  height: 800px;
  background-color: rgb(180, 208,	231);
}
.jumbotron{
  width: 80%;
  padding-top: 200px;
  margin: auto;
}
.title-jumbotron{
  font-size: 35px;
}
.content-jumbotron{
  width: 30%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  float: left;
}
.jumbotron a{
  display: inline-block;
}
.jumbotron .btn{
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
}
.arrow a{
  font-size: 40px;
  margin-top: 40px;
}
.image-jumbotron{
  float: right;
  width: 65%;
}
.image-jumbotron img{
  width: 100%;
}
.content-jumbotron, .image-jumbotron{
  margin-top: 50px;
}
/* End Jumbotron */

/* End Header */

/* Start Main */

/* Section Bunisiness */
.col{
  width: 30%;
  float: left;
  border: 1px solid gray;
  border-radius: 3px;
}
#business .rg{
  float: right;
}
#business .ct{
  margin-left: 50px;
}
input:nth-last-child(2){
  margin-left: 20px;
}
div input{
  margin-top: 60px;
  margin-bottom: 40px;
}
.title-container h2{
  font-size: 38px;
}
.col h5, .business-bottom h5{
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid gray;
  font-size: 18px;
}
.text .characteristic span{
  font-size: 13px;
  margin: 20px 0;
}
.text h4{
  font-size: 25px;
  margin-bottom: 10px;
}
.text{
  margin: 30px 20px;
}
.col i, .business-bottom i{
  margin-right: 5px;
}
.text span{
  display: block;
}
.small-text{
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.text .big{
  padding: 8px 40px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
  display: inline-block;
}
.text .buy span{
display: inline;
border-bottom: 1px solid gray;
padding-bottom: 30px;
}
.text .buy{
  padding: 30px 0;
}
.text .buy a, .title-affiliations a{
  color: rgb(5,	88,	255);
  text-decoration: underline;
}
.text h6{
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 15px;
}
.text li{
  margin-top: 20px;

}
.text li i{
  color: rgb(5,	80,	255);
  display: inline-block;
  width: 10%;
  vertical-align: top;
  margin-top: 3px;
}
.text ul{
  margin-bottom: 150px;
  list-style: none;
}
.text ul li span{
  display: inline-block;
  width: 85%;
}
.business-bottom{
  width: 100%;
  border: 1px solid gray;
  margin-top: 50px;
  border-radius: 3px;
}
.business-bottom .text-lf{
  float: left;
  width: 63%;
  margin-left: 40px;
}
.business-bottom .text-rg{
  float: left;
  width: 30%;
  text-align: center;
}
.text-lf, .text-rg{
  margin: 40px 0;
  line-height: 40px;
}
.business-bottom .text-rg .btn{
  padding: 8px 55px;
  color: #fff;
}
.text-lf h4{
  font-size: 30px;
}
.text-lf h6{
  font-size: 15px;
}
.text-lf p{
  font-size: 12px;
}
/* End Section Business */

/* Start Section Contact Partner */
section .image{
  width: 50%;
  float: left;
}
.text-partner{
  width: 45%;
  float: right;
}
.image img{
  width: 100%;
}
.text-partner a{
  background-color: #fff;
  border: 1px solid black;
}
.text-partner h2{
  margin: 40px 0;
}
.text-partner p{
  margin-bottom: 30px;
}
/* End Section Contact Partner */

/* Start Section Operation Dropbox */
.container{
  margin-top: 80px;
}
.container-lf, .container-ct, .container-rh{
  width: 30%;
  margin-bottom: 100px;
}
.container-ct, .container-lf{
  float: left;
}
.container-ct{
  margin-left: 50px;
}
.container-rh{
  float: right;
}
.content-image{
  margin: 5px;
  width: 96%;
}
.content-text{
  margin: 5px;
  width: 96%;
}
.content-image img{
  width: 100%;
  object-fit: cover;
}
/* End Section Operation Dropbox */

/* Start Affiliations */
.title-affiliations{
  width: 70%;
  margin: 50px auto;
}
.title-affiliations h2{
  font-size: 30px;
  margin-bottom: 20px;
}
.affiliations{
  width: 100%;
}
.square-lf, .square-rt{
  width: 30vw;
}
.square-ct{
  width: 40vw;
  height: 500px;
  background-color: rgb(245,	245,	245);
  padding: 50px 50px 100px 50px;
  overflow: scroll;
}
.square-lf, .square-ct{
  float: left;
}
.square-rt{
  float: right;
}
.company-sx img, .company-rx img{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.company-sx{
  width: 50%;
  background-color: darkred;
  height: 250px;
  float: left;
  position: relative;
}
.green{
  background-color: rgb(210,	233,	205);
}
.brown{
  background-color: rgb(98,	9,	43);
}
.cyan{
  background-color: rgb(0, 147,	206);
}
.orange{
  background-color: rgb(255,	29,	28);
}
.red{
  background-color: rgb(213,	0,	32);
}
.lightcyan{
  background-color: rgb(181,	208,	231);
}
.blue{
  background-color: rgb(15,	36,	129);
}
.yellow{
  background-color: rgb(255,	215,	47);
}
.under-square{
  margin: 10px;
  width: 90%;
  height: 90%;
  background-color: rgb(162, 211,	155);
}
.company-rx{
  width: 50%;
  height: 250px;
  float: right;
  position: relative;
}
.square-ct img{
  width: 120px;
  margin-bottom: 50px;
}
.square-ct p{
  padding: 50px 0;
}
.line{
  width: 10%;
  border: 1px solid lightgray;
}
.end-banner{
  width: 100%;
  background-color: rgb(180,	208,	231);
}
.container-end-banner{
  width: 70%;
  margin: auto;
}
.title-end-banner-sx{
  width: 45%;
  float: left;
  color: rgb(98,	20,	49);
}
.container-end-banner .button-dx{
  width: 4  0%;
  float: right;
}
.title-end-banner-sx h3{
  font-size: 30px;
}
.title-end-banner-sx, .button-dx{
  padding: 100px 0;
}
.container-end-banner .button-dx .btn{
  padding: 8px 40px;
  background-color: white;
}